.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;    
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
    background-color: rgb(232, 240, 254);
}

.Invalid {
    border: 1px solid red;
    color: lightsalmon;
}
.ValidationError {
    color: red;
    margin: 5px 0 0  0;
    padding: 0 5px;
    text-align: left;
} 