.Button {
  align-self: center;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.Button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  color: #fff;
}

.Button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.Primary {
  color: #41403e;
  background-color: #fff;
  border-color: #41403e;
}
.Danger {
  color: #f13c32;
  background-color: #fff;
  border-color: transparent;
}
.Danger:hover:not(:disabled) {
  border-color: #f13c32;
}
.Confirm {
  background-color: #fff;
  border-color: #47ba3f;
  color: #47ba3f;
}
