.h-full {
  height: 100%;
}
.h-full-important {
  max-height: 100% !important;
  height: 100% !important;
}

.font-xxl {
  font-size: 5rem;
}

.font-5-4 {
  font-size: 1.25rem;
}

.border-default {
  border: 1px solid #ccc;
}

.box-shadow-card {
  box-shadow: 4px 2px 15px 5px #ccc;
}

.p-block-0-important {
  padding-block: 0 !important;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding-inline: 3rem;
}

.py-3 {
  padding-block: 3rem;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding-inline: 2rem;
}

.py-2 {
  padding-block: 2rem;
}

.border-radius-1 {
  border-radius: 1rem;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 50%;
}

.max-w-500px {
  max-width: 500px;
}

.min-w-400px {
  min-width: 400px;
}

.max-w-200px {
  max-width: 200px;
}

.h-screen {
  height: 100vh;
}

.notion-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.notion-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d3d1cb;
}
.notion-scrollbar::-webkit-scrollbar-track {
  background-color: #edece9;
}

.no-warp {
  white-space: nowrap;
}

.p-5px {
  padding: 5px;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

a.red-link {
  text-decoration: underline;
  color: red;
  width: fit-content;
  margin-top: auto;
}
